<div class="d-flex justify-content-center">
  <h2 class="text-center">Register</h2>
</div>
<div class="d-flex justify-content-center">
  <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
      <div>
        <mat-form-field>
          <input matInput type="email" formControlName="email" placeholder="Email" required>
          <mat-error *ngIf="registrationForm.get('email').hasError('email')">Invalid email</mat-error>
          <mat-error *ngIf="registrationForm.get('email').hasError('required')">Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" formControlName="password" placeholder="Password" required>
          <mat-error *ngIf="registrationForm.get('password').hasError('required')">Password is required
          </mat-error>
          <mat-error *ngIf="registrationForm.get('password').hasError('minlength')">Password must be at
            least 8 characters
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <input matInput type="password" formControlName="confirmPassword" placeholder="Confirm password" required>
          <mat-error *ngIf="registrationForm.get('confirmPassword').hasError('required')">Confirm password
            is required
          </mat-error>
          <mat-error *ngIf="registrationForm.hasError('mismatch')">Passwords do not match</mat-error>
        </mat-form-field>
      </div>
    <button mat-raised-button color="primary" type="submit">Register</button>
  </form>
</div>
